<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Movies</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
    />
    <link rel="stylesheet" href="add.css" />
  </head>
  <body>
    <div>
      <form action="/select" method="POST" id="input-form">
        <div class="form">
          <div class="title heading">Add Movie</div>
          <div class="subtitle">Enter the details of the Movie</div>
          <div class="input-container ic1">
            <input
              name="movieName"
              id="firstname"
              class="input"
              type="text"
              placeholder=" "
            />
            <div class="cut"></div>
            <label for="firstname" class="placeholder">Movie Title</label>
          </div>
        <button type="text" class="submit add">Add</button>
      </form>
    </div>
  </body>
</html>
