<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="heading">Select Movie</h1>
      <%for(let i = 0; i < list.length; i++){%>
      <p>
        <a href="/find?id=<%=list[i].id%>">
          <%=list[i].original_title%> - <%=list[i].release_date%></a
        >
      </p>
      <%}%>
    </div>
  </body>
</html>
